@import './reset';

body {
  min-height: 100vh;
  width: 100vw;
  background-color: #21253f;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 5rem;
  color: #ffffff;
}