@import './reset';

* {
  font-family: 'Open Sans', sans-serif;
}

.flex {
  min-height: 100vh;
  width: 100vw;
  padding: 10px;
  display: flex;
  background-color: #21253f;

  &__start, &__end {
    margin: 5px;
    flex: 1 1 50%;
  }

  &__end {
    padding: 50px 75px;
    border-radius: 15px;
    background-color: #ffffff;
  }
}

.todo {

  &__header {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__left {
      max-width: 65%;
    }

    &__right {
      max-width: 35%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  &__title {
    margin-bottom: 5px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 40px;
  }

  &__desc {
    color: lightgray;
    font-size: 1.25rem;
    line-height: 20px;
  }

  .user {
    &__thumbnail {
      width: 45px;
      margin-left: -15px;
      border: 3px solid #ffffff;
      border-radius: 50%;
    }
    &__add {
      color: lightgray;
    }
  }

  &__collection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__name {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__setting {
    color: lightgray;
  }

  .divider {
    margin: 20px 0;
    border-color: lightgray;
    opacity: 0.2;
  }

  &__item {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__status {
    min-width: 110px;
    text-align: center;
    padding: 5px 20px;
    font-weight: bold;
    border-radius: 20px;
    opacity: 0.8;
    background-color: gray;
  }

  &__status--review {
    background-color: pink;
    color: red;
  }

  &__status--progress {
    background-color: lightblue;
    color: blue;
  }

  &__status--approved {
    background-color: lightskyblue;
    color: cyan;
  }

  &__footer {
    margin: 30px;
    position: fixed;
    right: 0;
    bottom: 0;

    .button {
      height: 50px;
      width: 50px;
      background-color: rgb(120, 0, 149);
      color: white;
      border: none;
      border-radius: 20px;
      box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.63);
    }
  }
}

.box {
  width: 300px;
  display: flex;
  align-items: center;
  user-select: none;

  label {
    font-size: 1.1rem;
    font-weight: bold;
    color: gray;
    position: absolute;
    z-index: 10;
    padding-left: 30px;
    cursor: pointer;
  }

  input {
    opacity: 0;
    visibility: hidden;
    position: absolute;

    &:checked {

      ~ .check {
        border-color: #00EA90;
        box-shadow: 0px 0px 0px 15px #00EA90 inset;

        &::after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }

  .check {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 100px;
    background-color: #FFF;
    border: 2px solid #00EA90;
    box-shadow: 0px 0px 0px 0px #00EA90 inset;
    transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 4;
      position: absolute;
      transform: scale(0);
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center;
      transition-delay: 0.2s !important;
      transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
    }
  }
}